<%= simple_form_for(@user, url: reset_password_path) do |f| %>
  <div class='field'>
    <strong>
      <%= hidden_field_tag :email, @user.email %>
      <%= f.input :password, required: true, error: false, input_html: { class: 'input' } %>
      <%=
        f.input(
          :password_confirmation,
          required: true,
          error: false,
          input_html: { class: 'input' },
        )
      %>
    </strong>
  </div>
  <%= f.button :submit, 'Update', class: 'button is-outlined is-medium is-primary' %>
<% end %>
