<%= simple_form_for(@user, url: signup_path) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class='field'>
    <strong>
      <%=
        f.input(
          :name,
          required: true,
          error: false,
          autofocus: true,
          input_html: { class: 'input' },
        )
      %>
      <%= f.input :email, required: true, error: false, input_html: { class: 'input' } %>
      <%= f.input :password, required: true, error: false, input_html: { class: 'input' } %>
      <%=
        f.input(
          :password_confirmation,
          required: true,
          error: false,
          input_html: { class: 'input' },
        )
      %>
    </strong>
  </div>
  <%= f.button :submit, 'Sign up', class: 'button is-outlined is-medium is-primary' %>
<% end %>
