<section class='section'>
    <div class='columns is-centered'>
      <div class='column is-4'>
        <h2 class='title is-2 has-text-centered'>All Events</h2>
          <%= render 'search_form' %>
          <% @events.each do |event| %>
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><%= event.display_title %></strong> <small><%= event.date_range %></small>
                    <br>
                    <br>
                    <strong>Description: </strong><%= event.description %>
                    <br>
                    <strong class='is-small'>Location: </strong> <%= event.location %>
                  </p>
                </div>
              </div>
              <% if event.creator?(current_user) %>
                <div class="media-right">
                  <%= link_to 'Delete', event_path(event), method: :delete %>
                </div>
              <% end %>
              <%= check_in_button(event, current_user) %>
            </div>
          <% end %>
      </div>
    </div>
</section>
