<section class='section'>
  <container class='container'>
    <div class='columns is-centered'>
      <div class='column is-4'>
        <h2 class='title is-2'><%= @event.title %></h2>
        <br>
        <strong>Time:</strong>
        <p><%= @event.start_time %> to <%= @event.end_time %></p>
        <br>
        <strong>Where:</strong>
        <p><%= @event.location %></p>
        <br>
        <strong>Description: </strong>
        <p><%= @event.description %></p>
      </div>
    </div>
  <container class='container'>
</section>
