<!DOCTYPE html>
<html>
  <head>
    <title>EventManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar is-link' role='navigation' aria-label='main navigation'>
      <div class='navbar-brand'>
        <%= link_to root_path, class:'navbar-item' do %>
          <h1 class='title is-5 has-text-white'>EventManager</h1>
        <% end %>
      </div>
      <div class='navbar-end'>
        <% if current_user %>
          <%= link_to 'Log out', logout_path, method: :delete, class:'navbar-item'%>
        <% else %>
          <%= link_to 'Sign up', signup_path, class:'navbar-item'%>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
